* {
  padding: 0;
  margin: 0;
}

/* Utils */
.wh-col {
  color: #e1e1e1 !important;
}

.index {
  z-index: 100 !important ;
  background: #111;
}

.BG-dark {
  background: #111;
}

.BG-col {
  background-color: rgba(20, 27, 46) !important ;
}
.BG-ncol {
  background: none !important ;
}
.TR-dur {
  transition-duration: 0.75s;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex !important;
}

.d-end {
  justify-content: flex-end;
}
.d-row {
  flex-direction: row;
  justify-content: space-between;
}
.f-col {
  flex-direction: column;
  justify-content: space-between;
}
.p-5 {
  padding: 10px;
}
.p-3 {
  padding: 6px;
}

.ft-4 {
  font-size: 18px;
}
.ft-5 {
  font-size: 22px;
}

.ft-6 {
  font-size: 20px;
}

.ml-5 {
  margin-left: 30px;
}
.ml-6 {
  margin-left: 50px;
}

.mr-5 {
  margin-right: 30px;
}

.m-logo {
  margin: 50px 20px 50px 20px;
}
/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2 !important ;
}

#navbar div:hover {
  color: white;
  cursor: pointer;
}

#writing span {
  color: #ff6361 !important;
}

/* Navbar1 */
#navbar1 {
  position: fixed;
  top: 38px;
  width: 100%;
  z-index: 0;
}

.nav1-anim-op {
  animation-name: nav1-anim-op;
  animation-duration: 0.3s;
}
@keyframes nav1-anim-op {
  from {
    top: -120px;
  }

  to {
    top: 38px;
  }
}

.nav1-anim-cl {
  animation-name: nav1-anim-cl;
  animation-duration: 0.4s;
  position: absolute !important ;
  background-color: rgba(20, 27, 46) !important ;
  top: inherit;
  width: 100%;
  color: #e1e1e1;
}

@keyframes nav1-anim-cl {
  from {
    transform: translateY(70px);
  }

  to {
    transform: translateY(-100px);
  }
}

#navbar1 ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#navbar1 ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  padding: 0px 55px 15px 55px;
  overflow-x: auto;
}

#navbar1 ul li a {
  color: #e1e1e1;
  text-decoration: none;
  font-size: 12px;
  margin-top: 5px;
}

#navbar1 ul li:hover {
  cursor: pointer;
}

#navbar1 ul li:hover {
  color: #ff6361;
}
.active {
  border-bottom: 2px solid #ff6361;
}

/* Side Bar */
.nav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: #111;
}

.side i {
  padding: 10px;
}

.sd-anim-op {
  animation-name: sd-anim-op;
  animation-duration: 0.3s;
}

@keyframes sd-anim-op {
  from {
    left: -500px;
  }

  to {
    left: 0px;
  }
}

.sd-anim-cl {
  animation-name: sd-anim-cl;
  animation-duration: 1s;
  position: absolute !important ;
  left: 0;
  height: 100vh;
}

@keyframes sd-anim-cl {
  from {
    left: 0;
  }

  to {
    left: -500px;
  }
}

.menuinv div {
  margin-bottom: 10px;
  font-family: "Arimo", sans-serif;
}

.menuinv div a {
  text-decoration: none;
  color: #e1e1e1;
}

.menuinv div a:hover {
  color: #ff6361;
}

/* ShowCase */

.showcase {
  background: url("/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
}

.showcase-content {
  background: rgba(20, 27, 46);
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(27, 27, 46, 0.5), rgba(20, 27, 46, 1));
}

/* after side */

.afterside {
  height: 100vh;
  width: 100vw;
  background: rgba(225, 225, 225, 0.1);
  position: fixed;
  top: 0;
  z-index: 0;
  overflow-y: scroll !important;
  position: fixed;
}

/* after navbar */
.hhh {
  height: 4000px;
}

.afternav {
  height: 80vh;
  background: rgba(20, 27, 47);
}
